html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
ul {
  margin: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  text-align: var(--main-text-align);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: var(--primary-text-color);
}

textarea {
  resize: none;
}